// DEFINES
$primary-color: #e8b900;
$secondary-color: #0F4B7D;
$third-color: #50aec5;

$transition: 0.2s all ease-in-out;

body, html {
	font-family: 'Open Sans';
	width: 100%;
	overflow-x: hidden;
}
html { background: $secondary-color; }
// HEADER
header {
	.navbar-skin {
		background: #fff;
		padding: 10px 0px;
		border: 0;
		border-bottom: 2px solid $primary-color;
		border-radius: 0;

		.navbar-brand {
			position: relative;
			top: -15px;
		}
		.navbar-nav {
			margin: 0 -15px;

			>li>a {
				color: $secondary-color;
				transition: $transition;
				
				&:hover,&:focus {
					background: #eee;
					color: lighten($secondary-color, 15%);
					text-decoration: underline;
					transition: $transition;
				}
			}
			@media(max-width:767px) {
				background: $secondary-color;				

				>li>a {
					color: #fff !important;
				}
			}
		}
		.navbar-toggle {
			margin: 6px 15px 0;

			.icon-bar {
				background: $secondary-color;
				width: 30px;
				height: 3px;

				+ .icon-bar { margin-top: 5px; }
			}
		}
	}

	.dropdown-menu>li>a{
		&:focus, &:hover { 
			background: $secondary-color; color: #fff;
		}

		@media(max-width: 767px) {
			background: darken($secondary-color, 10%) !important;
			color: #dfdfdf;
		}
	}

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background: #fff; }
	.nav .open>li>a, .nav .open>li>a:focus, .nav .open>li>a:hover { background: #fff; }

	.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
		background: $secondary-color;
	}
}

// WRAPPER 
#wrapper {
	margin-top: 70px;
}

// BREADCRUMB
#breadcrumb {
	background: $third-color;
	padding: 10px 0;
	margin-bottom: 20px;
	p {
		color: #bedee6;
		margin: 0;
	}
	a { color: #fff; }
}

// Banner
#banner {
	background: $secondary-color;
	background: {
		image: url('../img/banner2.jpg');
		size:cover;
		repeat: no-repeat;
		position: center;
	}
	height: 480px;

	h1 {
		font:{
			size: 60px;
			weight: 300;
		}
		color: #fff;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		padding: 0 15px;
		text-shadow: 0 2px 3px rgba(0,0,0,0.2);

		@media(max-width: 991px) { 
			font-size: 36px; 
		}
	}
}

#noticias {
	background: #f1f1fd;
	padding: 40px 0;
	
	h2 {
		color: $secondary-color;
		text-align: center;
		margin: 20px 0 40px;
	}

	article {
		overflow: hidden;
		border-radius: 2px;
		box-shadow: 0 2px 3px rgba(0,0,0,0.2);

		&:hover {
			.picture { 
				transform: scale(1.05); 
				transition: $transition;
			}
		}
		.header { overflow: hidden; }

		.picture {
			background: {
				position: center;
				repeat: no-repeat;
				size: cover;
			}
			height: 160px;
			transition: $transition;
		}

		.body {
			padding: 15px;
			background: #fff;
			min-height: 120px;
			position: relative;

			h3 { 
				font: {
					size: 14px;
					weight: bold;
				}
				color: $secondary-color;
				margin: 0 0 10px;
			}

			h4 {
				font-size: 11px;
			}

			.read-more {
				position: absolute;
				bottom: 0px;
				margin: 0;
				width: 100%;
				left: 0;
				text-align: center;
				border-top: 1px solid #ddd;				
				transition: $transition;

				&:hover {
					background: $third-color;
					border-top: 1px solid $third-color;
					transition: $transition;
				}
				a {
					display: block;
					color: $third-color;
					padding: 6px 15px;
					transition: $transition;

					&:hover { 
						color: #fff;
						transition: $transition;	
					 }
				}
			}
		}

		@media(max-width: 991px) { 
			margin-bottom: 20px; 
		}
	}

	.all-news {
		text-align: center;
		margin: 30px 0 0;

		a {
			display: inline-block;
			background: $primary-color;
			padding: 8px 20px;
			color: #fff;
			border-radius: 2px;
			transition: $transition;

			&:hover {
				background: darken($primary-color, 5%);
				transition: $transition;
			}
		}

		@media(max-width: 991px) { 
			margin-top: 0; 
		}
	}
}

#subsecoes {
	padding: 40px 0;
	h2 {
		font-size: 28px;
		color: $secondary-color;
	}

	article { position: relative; }

	p { font-size: 16px; }

	.img-container {
		height: 150px;
		margin-bottom: 20px;

		img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.cta {
		a {
			display: inline-block;
			background: $secondary-color;
			color: #fff;
			padding: 6px 12px;
			margin-top: 20px;
			border-radius: 2px;
			transition: $transition;

			&:hover, &:focus {
				background: $third-color;
				transition: $transition;
			}
		}
	}
}

#newsletter {
	background: $primary-color;
	color: $secondary-color;
	padding: 40px 0;

	h2 { margin: 0 0 10px; }
	h3 {
		font-size: 16px;
		color: #f2f2fe;
		margin: 0 0 20px;
	}

	.form-block {
		display: block;
		text-align: center;
		font-size: 0;

		.input {
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
		}
	}
	.input {
		width: 410px;
		background: #f1f1fd;
		box-shadow: none;
		border: 1px solid #000;
		font-size: 14px;
		padding: 6px 12px;

		&:focus {
			background: #fff;
			outline: 0;
			box-shadow: none;
			border: 1px solid $third-color;
		}
	}
	.btn-submit {
		background: $secondary-color;
		font-size: 14px;
		color: #fff;
		padding: 6px 12px;
		border: 1px solid $secondary-color;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		transition: $transition;

		&:hover,&:active,&:focus,&:active:focus { 
			background: $third-color;
			text-decoration: underline;
			border: 1px solid $third-color;
			transition: $transition;
		}
	}
}
#apoiadores {
	background: darken($secondary-color,10%);
	padding: 40px 0;
	color: #fff;
	
	h2 {
		margin: 0 0 15px;
		text-align: center;
	}

	p {
		text-align: center;
		margin: 0 0 15px;
		font-size: 12px;

		&.highlight { 
			font:{
				size: 13px;
				weight: bold;
			}
			margin-top: 15px;
		}
	}
}


// Intern pages
#intern-content {
	background: #f1f1f4;
	padding: 0 0 20px;

	> .container {
		background: #fff;
		padding: 45px 60px;
		border-radius: 2px;
		box-shadow: 0 0 2px rgba(#000, 0.1);


		h1 {
			display: inline-block;
			font-size: 30px;
			color: $secondary-color;
			padding: 0 10px 4px 0;
			margin: 0 0 20px;
			border-bottom: 2px solid $primary-color;
		}

		h2 {
			font: {
				size: 18px;
				weight: bold;
			}
			color: $secondary-color;
			margin: 30px 0 10px;
		}

		p {
			text-align: justify;
			line-height: 200%;
			margin-bottom: 20px;
		}
		li { line-height: 200%}

		hr {
			width: 120px;
			border-top: 1px solid #ddd;

			&.end {
				width: calc(100% + 30px);
				margin: 45px -15px 0;
			}
		}
	}
}
#nutricao-dicas {
	article {
		padding: 20px 15px 20px 30px;
		border-bottom: 1px solid $primary-color;

		@media(max-width: 991px) { padding-left: 15px;}

		&:nth-child(odd) { background: #fafafa; }
		.img-box {
			background: #eee;
			background: {
				position: center;
				size: cover;
				repeat: no-repeat;
			}
			position:relative;
			height: 200px;
			padding: 15px;
			@media(max-width: 991px) { margin: 0 15px 20px;}
		}
		h2 { margin:0 0 10px !important; }
		h3 {
			font-size: 14px;
			margin: 0 0 20px;
			color: #999;
		}
		.link { margin-bottom: 0;}

		.btn-primary {
			background: $secondary-color;
			font-size: 14px;
			color: #fff;
			padding: 6px 12px;
			border: 1px solid $secondary-color;
			border-radius: 2px;
			transition: $transition;

			&:hover,&:active,&:focus,&:active:focus { 
				background: $third-color;
				text-decoration: underline;
				border: 1px solid $third-color;
				transition: $transition;
			}
		}
	}

	.pagination{
		margin-top: 40px;
		>li:first-child>a, .pagination>li:first-child>span {
		    border-top-left-radius: 2px;
    		border-bottom-left-radius: 2px;
		}
		>li:last-child>a, >li:last-child>span {
    		border-top-right-radius: 2px;
    		border-bottom-right-radius: 2px;
    	}

		>.active {
			> a, > a:focus, > a:hover, 
			> span, >span:focus, >span:hover {
				background: $secondary-color;
				border-color: $secondary-color;
			}
		}
	}
}
// Contato
form {
	margin-top: 20px;
	
	textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 120px;
	}
	.form-control {
		box-shadow: none;
		background: #fbfbfb;
		border: 1px solid #ddd;
		border-radius: 2px;
		margin-bottom: 10px;
		transition: $transition;

		&:focus {
			box-shadow: none;
			outline: none;
			border: 1px solid $third-color;
			transition:$transition;
		}
	}
}
.social-links {
	border-top: 1px solid #eee;
	padding-top: 20px;
	a {
		display: inline-block;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		transition: $transition;
		color: #fff !important;

		&:hover, &:focus { transition: $transition; }
		+ a { margin-left: 4px;}

		&.facebook { 
			background:#4267b2;
			&:hover, &:focus { background:lighten(#4267b2,10%); }
		}
		&.instagram { 
			background:#D62976;
			&:hover, &:focus { background:lighten(#D62976,10%); }
		}
		&.youtube { 
			background:#f00;
			&:hover, &:focus { background:lighten(#f00,10%); }
		}
		&.twitter { 
			background:#1da1f2;
			&:hover, &:focus { background:lighten(#1da1f2,10%); }
		}
	}
}
#gmaps {
	height: 280px;
}

// FOOTER
footer {
	background: $secondary-color;
	color: #fff;
	padding: 15px;

	p {
		text-align: center;
		margin: 0;
	}

	a { color: #fff !important;}

	.social-media-icons { 
		margin-top: 10px; 
		margin-bottom: 0;

		a {
			font-size: 20px;
			opacity: 0.75;
			margin: 0 2px;
			
			&:hover, &:focus, &:active { opacity: 1; }
		}
	}
}

// slick override/
.slick-prev, .slick-next {
	z-index: 2;

	&:before {
		color: $primary-color;
		opacity: 1;
	}
	&:hover { 
		&:before {color: $third-color; }
	}
}
.slick-prev { left: 0;}
.slick-next { right: 10px; }